body {

    margin: 0 auto;
    background-color: #1E2030;
    font-family: 'Poppins', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

}

.header-inner {
    padding-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo img {
    width: 199px;
    height: 45px;
    background-size: cover;
    object-fit: cover;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    list-style-type: none;
    font-style: normal;
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    transition: all .4s ease;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.footer__link:hover {
    transition: all 0.5s ease;
    color: #4080bf;
}

.contact-btn {
    padding: 13px 28px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #4080bf;
}

.header-contact button:hover,
.main-block1 button:hover,
.agency button:hover {
    background-color: darkblue;
    transition: all 0.5s ease;
}

.home {
    margin-top: 38px;
}


.main-block1 {
    transition: .4s;
    max-width: 1110px;
    height: 650px;
    background: url('../img/home.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;

}

.main__block {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.title_text {
    /* border: 2px solid #000; */
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    color: #fff;
    width: 747px;

}

.title_text_text {
    margin-top: 10px;
    width: 745px;
    color: #fff;
    font-size: 20px;
    line-height: 38px;
    font-weight: normal;
    margin-bottom: 25px;
}

.main-block1 button {
    border-radius: 15 165;
    color: #fff;
    border-radius: 10px;
    background-color: #4080bf;
}

.about {
    margin-top: 88px;
}

.about h2 {
    width: 200px;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
}

/*WRAP*/
.about-wrap {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.about-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-item-icon img {
    transition: all .4s ease;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
}

.about-item-text {
    margin-left: 30px;
}

.about-item-text h4 {
    text-transform: capitalize;
    line-height: 48px;
    font-size: 28px;
    color: #fff;
}

.about-item-text p {
    text-transform: capitalize;
    width: 440px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

/*special*/
.special {
    margin-top: 150px;
}

.special h2 {
    margin: 0 auto;
    text-align: center;
    width: 599px;
    height: 166px;
    font-size: 50px;
    line-height: 83px;
    color: #fff;
}

.special-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.special-item {
    padding: 40px 25px 0 25px;
    width: 100%;
    max-width: 350px;
    height: 350px;
    background-color: #1E2028;
    margin-top: 30px;
}

.special-item-text h4 {
    padding-top: 20px;
    font-size: 24px;
    color: #fff;
}

.special-item-text p {
    padding-top: 20px;
    width: 306px;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
}


.logo-9 {
    margin-left: 15px;
}

/*project*/
.project {

    width: 100%;
}

.title_project {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.project h2 {
    height: 100%;
    font-size: 50px;
    line-height: 70px;
    color: #fff;
}

.more {
    transition: all .4s ease;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #A1C5E9;
    display: flex;
    column-gap: 20px;
}

.more::after {
    content: "";
    background: url('../img/arrow-right.png') no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.more:hover {
    color: blue;
    transition: all 0.5s ease;
}

.project-item-icon {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.project-item-icon img {
    transition: all .4s ease;
    border-radius: 20px;
    height: 305px;
    width: 540px;
}

.project-item-icon img:hover,
.user__img:hover,
.sub_user__img:hover,
.avatar__icon img:hover {
    transform: scale(1.2);
    box-shadow: 20px 10px 30px #A1C5E9;
    transition: all .4s ease;

}

.about-item-icon img:hover {
    transform: scale(1.2);
    transition: all .4s ease;
    box-shadow: 20px 10px 30px #A1C5E9;

}


/*founder*/
.founder h2 {
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.founder-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.founder-item-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 40px;
}


.sup_user__link {
    margin: 20px 0 10px 0;
    text-decoration: none;
}

.user_text_1 h4 {
    width: 204px;
    text-align: right;
    line-height: 37px;
    color: #fff;
    font-size: 18px;
}


.user_text_1 p {
    text-transform: capitalize;
    text-align: right;
    width: 203px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.user_text_2 {
    padding-bottom: 10px;
    order: 2;
}

.user__img {
    order: 1;
}

.user_text_2 h4 {
    width: 204px;
    line-height: 37px;
    color: #fff;
    font-size: 18px;
}

.user_text_2 p {
    text-transform: capitalize;
    width: 193px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.img_1 {
    transition: all .4s ease;
    border-radius: 100px 0 0 0;
}

.img_2 {
    transition: all .4s ease;
    border-radius: 0 100px 0 0;
}

.img_4 {
    transition: all .4s ease;
    border-radius: 0 0 100px 0;
}

.img_3 {
    transition: all .4s ease;
    border-radius: 0 0 0 100px;
}


.sub_user__link {
    margin-left: 10px;
    text-decoration: none;
}

.sub_user__img {
    position: relative;
    top: 70px;
}

/*custumer*/
.custumer_item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.left_content {
    margin-top: 50px;
    align-self: center;
}

.custumer_link {
    text-decoration: none;
}

.custumer_link h2 {
    max-width: 370px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.custumer_link p {
    max-width: 350px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}

.right_content {
    margin-left: 100px;
    border-radius: 20px;
    background-color: #1E2028;
    height: 500px;
    max-width: 580px;
    padding: 30px 0 0 50px;
}


.icon_avar {
    display: flex;
    flex-wrap: wrap;
}

.icon_avar img {
    width: 55px;
    height: 55px;
}

.icon_avar_text {
    margin: 5px 0 0 10px;
}

.icon_avar_text h4 {
    color: #fff;
    font-size: 18px;
    font-weight: auto;
}

.icon_avar_text p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.text p {
    width: 450px;
    margin-top: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
}

.logo_dotted {
    margin-left: 185px;
}

.logo_dotted img {
    padding-top: 70px;
    margin-left: 5px;
}

.logo_l {
    margin-left: 350px;
}

/*agency*/
.agency {
    padding: 50px 0;
    margin-top: 150px;
    background-color: #1E2028;
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agency h2 {
    max-width: 547px;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
}

.agency button {
    margin-top: 40px;
}

.agency__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.agency__item {
    margin-left: 25px;
    margin-top: 60px;
}

.agency__link {
    margin-right: 25px;
    width: 240px;
    text-decoration: none;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    height: 70px;
}

.agency__item h4 {
    width: 237px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;

}

.agency__link p {
    width: 237px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

/*footer*/

.footer {
    padding: 98px 0 32px 0;

}

.footer__inner {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
}

.footer__info {
    text-align: left;
}

.footer__info h4 {
    color: #fff;
    font-size: 34px;
    font-weight: 800;
    line-height: 27px;
}

.footer__info p {
    margin-top: 20px;
    width: 209px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-social {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}

.social__img {
    transition: all .4s ease;
    border-radius: 50%;
}

.social__img:hover {
    transform: scale(1.2);
    transition: all .4s ease;
    box-shadow: 20px 10px 30px #A1C5E9;
}



.footer__item {
    list-style-type: none;
}

.footer__link {
    transition: all .4s ease;
    text-decoration: none;
}

.footer__text {
    font-size: 34px;
    font-weight: 800;
    line-height: 27px;
    color: #fff;
}

.footer__item {
    margin-top: 30px;
}

.footer__link {
    color: #fff;
}

.footer_input h4 {
    font-weight: 800;
    font-size: 34px;
    line-height: 27px;
    color: #fff;
}

.footer_input img {
    width: 16.5px;
    height: 16.5px;

    position: relative;
    top: 3px;
    right: 35px;
    z-index: 2;
}


.input {
    margin-top: 30px;
    padding-top: 10px;
    z-index: 1;
    text-align: left;
    border-radius: 8px;
    background-color: #444;
    width: 265px;
    height: 40px;
}

#first_email {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 19px;
    color: #fff;
}